.bg-blue{
	background-color:blue;
}

.search-forms{
	width:90%;
	margin:5%;
}

/*.search-button{
	background-color:#6c757d;
	margin-left:5%;
}*/

nav {
	background-color: #007bff;
	border-radius: 80px;
}

.navbar-css{
	position: absolute;
    left: 50%;
}	

ul {
	list-style-type: none;
	margin: 1%;
	padding: 0;
	overflow: hidden;
	background-color: #007bff;
	border-radius: 15px;
}

li {
	float: right;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	/*background-color: #111;*/
	background-color: #4739DF;
}

.active {
	/*background-color: #4CAF50;*/
	background-color: #4739DF;
}

.tarjeta-css{
	background-color: #007bff;
	margin-top:20%;
	width:50%;
	height:70%;
	border-radius:15px;
}

.form-css{
	display:block;
}

.form-button{
	background-color: #6c757d;
	color: #FFFFFF;
	border:0px;
	border-radius:5px;
	width:15%;
	text-align:center;
	padding:2%;
}

.h-15{
	height:15%;
	color: #FFFFFF;
}

.h-15 a{
	color: #FFFFFF;
}

.h-70{
	height:70%;
}

.h-90{
	height:90%;
}

.hide-scrollbar{
	scrollbar-width: none;
}

.pestañas-login-1{
	border-radius: 0px 0px 15px 0px;
}

.pestañas-login-2{
	border-radius: 0px 0px 0px 15px;
}

.non-active{
	background-color: #6c757d;
}

.h-10{
	height:10%;
}

.bg-007bff{
	background-color:#007bff;
}

.bg-ed1c24{
	background-color:#ed1c24;	/*Rojo*/
}

.bg-ff7f27{
	background-color:#ff7f27;	/*Naranja*/
}

.bg-fff200{
	background-color:#fff200;	/*Amarillo*/
}

.bg-b5e61d{
	background-color:#b5e61d;	/*Verde claro*/
}

.bg-22b14c{
	background-color:#22b14c;	/*Verde oscuro*/
}

.pilots{
	width:5%;
	height:5%;
	border-radius:100%;
}

a, a:hover, a:visited, a:active, a:link{
	color:#FFFFFF;
	text-decoration:none;
}

w-10{
	width:10%;
}

/*.bg-d8d8d8{
	
}*/

body{
	background-color:#d8d8d8;
}

.bg-2934d3{
	background-color: #2934d3;
}