{% load static %}
<footer class="bg-primary text-center fixed-bottom">
    <div class="container-fluid">
        <div class="row h-10 align-items-center">
            <div class="col-sm-4">
                <img src = "{% static 'img/logo.jpg' %}" class="float-left" width="20%"></img>
                <p>HealthyRoutes es un plataforma donde podrás encontrar las mejores rutas para practicar deporte. Para ello recogemos información de las estaciones de calidad del aire y de las zonas donde transcurren las rutas para hacer un raking con las rutas mas saludables.</p>
            </div>
            <div class="col-sm-4 ">
                © 2021 Copyright:
            </div>
            <div class="col-sm-4">
                <div class="mt-3">
                    <a href="https://linkedin.com/in/daniel-f-908665165"><p><img src="{% static 'img/linkedin.png' %}"></img></p></a>
                    <a href="https://github.com/dfuente2017"><p><img src="{% static 'img/github.png' %}"></img></p></a>
                    <a href="mailto:d.fuente@outlook.es?Subject=Contacto%20HealthyRoutes"><p><i class="glyphicon glyphicon-envelope"></i></p></a>
                    <a href="mailto:d.fuente.2017@alumnos.urjc.es?Subject=Contacto%20HealthyRoutes"><p><img src="{% static 'img/urjc.png' %}"></img></p></a>
                </div>
            </div>
        </div>
    </div>
</footer>