{% load static %}
<nav class="navbar m-3">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 text-center">
      <a href="/"><img src="{% static 'img/logo.jpg' %}" width="25%"/></a> 
    </div>
    <div class ="col-sm-4 text-right">
      {% if user.is_authenticated %}
      <div>
          <li class="nav-item dropdown" style="list-style:none">
            <a class="nav-link dropdown-toggle text-right" href="#" id="navbardrop" data-toggle="dropdown">
              {% if user.user_img != "" %}
                <img src="{{user.user_img.url}}" class="img-circle " width="15%"/>
              {% else %}
                <img src="{% static 'img/user.png' %}" class="img-circle " width="15%"/>
              {% endif %}
            </a>
            <div class="dropdown-menu bg-007bff">
              <a class="dropdown-item" href="/profile">Mi perfil</a>
              <a class="dropdown-item" href="#">Rutas guardadas</a>
              <a class="dropdown-item" href="/logout">Cerrar sesión</a>
            </div>
          </li>
      </div>
      {% else %}
      <div>
        <a href="/login"><button class="btn btn-secondary" type="submit">Iniciar sesión</button></a>
        <a href="/login"><button class="btn btn-secondary" type="submit">Registrarse</button></a>
      </div>
      {% endif %}
    </div>
</nav>