{% extends "main.html" %}

{% block content %}
{% load static %}

<form action="" method='POST'>
{% csrf_token %}
    <div class = "container-fluid h-100">
        <div class = "row m-3 h-100">
            <div class="col-sm-2">
                <div class = "row">
                    <div class="card bg-primary text-white col-sm-12 mt-3">
                        <input id='initLatitude' name='initLatitude' type='value' hidden></input>
                        <input id='initLongitude' name='initLongitude' type='value' hidden></input>
                        <input id='endLatitude' name='endLatitude' type='value' hidden></input>
                        <input id='endLongitude' name='endLongitude' type='value' hidden></input>

                        <!--<div class = "row">
                            <div class="col-sm-12">
                                <p>Para situar el punto de inicio, haz doble click en el mapa, y para despues situar el punto de llegada haz lo mismo tambien.</p>
                            </div>
                        </div>-->
                        <div class = "row mt-3">
                            <div class="col-sm-12">
                                <div class = "form-group text-center">
                                    <button id="remove-markers-button" type="button" class="btn btn-secondary" disabled onclick="removeMarkers();">Eliminar puntos<span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class = "row mt-3" id = "routes_variation" hidden>
                            <div class = "form-group search-forms">
                                <input id = "variation" type = "text" class = "form-control" placeholder = "Variación de las rutas">
                            </div>
                        </div>
                        <div class = "row mb-4">
                            <div class="col-sm-12 text-right">
                                <a href="#" onclick="showRouteVariation();">Variacion de las rutas (km)&nbsp;&nbsp;<i id="routes_variation_button" class="glyphicon glyphicon-chevron-down"></i></a>
                            </div>
                        </div>
                        <div class = "row">
                            <div class="col-sm-12">
                                <div class = "form-group text-right">
                                    <button id="search-route-button" class="btn btn-secondary" onclick="searchRoutes();" disabled>Buscar ruta</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div id = "route-ranking-container" class = "row">
                    <h1>Ranking</h1>
                    {% for route in routes %}
                        <div id="card_{{forloop.counter0}}" class = "card bg-primary text-white col-sm-12 mt-3" onclick="selectRoute('{{ forloop.counter0 }}')";>
                            <div id="route_nodes_{{ forloop.counter0 }}" hidden>{{route.nodes}}</div>
                            <div class="row">
                                <div class="col-sm-12 text-right mt-2">
                                    <a href="#" onclick="like();"><i id="like-icon" class="glyphicon glyphicon-heart-empty"></i></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <h2>{{route.ranking_puntuation}} puntos</h2>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <h4>{{route.distance}} km</h2>
                                    </div>
                                    <div class="row">
                                        <h4>{{route.time}} mins</h2>
                                    </div>
                                </div>
                            </div>
                            <div id="extended_info_{{ forloop.counter0 }}" hidden>
                                <div class="row mt-3">
                                    <div class="col-sm-6">
                                        <h5 class="mr-5">Zonas verdes: 67%</h5>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5>Zonas no verde: 33%</h5>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-12">
                                        <h5>Estado de la calidad del aire:</h5>
                                    </div>
                                </div>
                                <div class="row mt-2 mb-3">
                                    <img class="ml-5 pilots" src="{% static 'img/blue-pilot.png' %}">36%</img>
                                    <img class="ml-5 pilots" src="{% static 'img/green-pilot.png' %}">52%</img>
                                    <img class="ml-5 pilots" src="{% static 'img/yellow-pilot.png' %}">5%</img>
                                    <img class="ml-5 pilots" src="{% static 'img/orange-pilot.png' %}">4%</img>
                                    <img class="ml-5 pilots" src="{% static 'img/red-pilot.png' %}">2%</img>
                                </div>
                            </div>
                            <div class ="row mb-2 mt-2">
                                <div class="col-sm-6 text-left">
                                    <button type="button" class="btn btn-secondary">Ruta completada</button>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <a href="#" onclick="moreInfo('{{ forloop.counter0 }}');"><i id="info_button_{{ forloop.counter0 }}" class="glyphicon glyphicon-chevron-down"></i></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class = "col-sm-8 mt-3">

                <div id="map" class="map" style="height: 70%; width: 100%;"></div>
                <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
                <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
                <script>
                    function moreInfo(n){
                        if(document.getElementById("info_button_" + n).attributes[1].value == "glyphicon glyphicon-chevron-down"){
                            document.getElementById("extended_info_" + n).hidden = false;
                            document.getElementById("info_button_" + n).attributes[1].value = "glyphicon glyphicon-chevron-up";
                        } else{
                            document.getElementById("extended_info_" + n).hidden = true;
                            document.getElementById("info_button_" + n).attributes[1].value = "glyphicon glyphicon-chevron-down";
                        }
                    }


                    const tilesProvider = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png'
                    var airStations = new Array();
                    var airStationsMarkersOptions = {
                        clickable: true,
                        draggable: false
                    }

                    var nMarkers = 0;
                    var lastRouteShown = 0;
                    var routeMarkers = new Array();
                    var polyline = null;

                    var airStationsLayer = new L.layerGroup();

                    var routeRanking = null;
                    
                    getAirStations();

                    function getAirStations(){
                        $.ajax({
                            url:'api/air_stations',
                            type: 'get',
                            data: {
                                //town_id: getTown()
                            },
                            success: function(response) {
                                for(let key in response){
                                    jsonObject = response[key]
                                    putAirStationMarker(jsonObject.name, jsonObject.latitude, jsonObject.longitude, jsonObject.messures, jsonObject.air_quality)
                                }
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                                alert(textStatus + ':' + errorThrown)
                            }
                        });
                    }
                    /*Implement a method to request the towns ids*/
                    function getTown(){
                        
                    }
                    function putAirStationMarker(name, latitude, longitude, messures, air_quality){
                        //var marker = new L.Marker([latitude, longitude], airStationsMarkersOptions).bindPopup('Estacion de ' + name + '</br>' + 'Estado del aire: ' + airQualityTraduction(air_quality));
                        var circleColor = getCircleColor(air_quality)
                        var circle = new L.circle([latitude,longitude],{
                            color: circleColor,
                            fillColor: circleColor, 
                            fillOpacity: 0.3,
                            radius: 1500
                        }).bindPopup('Estacion de ' + name + '</br>' + 'Estado del aire: ' + airQualityTraduction(air_quality));;

                        //airStationsLayer.addLayer(marker);
                        airStationsLayer.addLayer(circle);
                    }
                    function airQualityTraduction(air_quality){
                        switch(air_quality){
                            case 5:
                                return "Muy bueno"
                            case 4:
                                return "Bueno"
                            case 3:
                                return "Regular"
                            case 2:
                                return "Malo"
                            case 1:
                                return "Muy malo"
                            default:
                                return "Desconocido"
                        }
                    }
                    function getCircleColor(air_quality){
                        switch(air_quality){
                            case 5:
                                return "#00FFFB"
                            case 4:
                                return "#5AB507"
                            case 3:
                                return "#FFFF01"
                            case 2:
                                return "#FEA500"
                            case 1:
                                return "#BD0100"
                            default:
                                return "#C3C3C3"
                        }
                    }

                    var map = L.map('map', {
                        center: [40.417,-3.703],
                        zoom: 13,
                        layers: [airStationsLayer]
                    });

                    var overlayMaps = {
                        "Estaciones de calidad del aire": airStationsLayer
                    }

                    L.control.layers(null, overlayMaps).addTo(map);

                    map.doubleClickZoom.disable();
                    L.tileLayer(tilesProvider, {
                        maxZoom: 18
                    }).addTo(map);

                    var routeMarkersOptions = {
                        clickable: true,
                        draggable: true
                    }

                    
                    map.on("dblclick", function(e){
                        if(routeMarkers.length < 2){
                            document.getElementById("remove-markers-button").disabled = false;  
                            routeMarkers.push(new L.Marker([e.latlng.lat, e.latlng.lng], routeMarkersOptions).addTo(map));
                            if(routeMarkers.length == 2){
                                document.getElementById("search-route-button").disabled = false;
                            }
                        }
                    })

                    function removeMarkers(){
                        routeMarkers.forEach(function(marker){
                            map.removeLayer(marker);
                        });

                        routeMarkers = new Array();
                        document.getElementById("remove-markers-button").disabled = true;
                        document.getElementById("search-route-button").disabled = true;
                    }

                    function searchRoutes(){
                        document.getElementById('initLatitude').value = routeMarkers[0].getLatLng().lat;
                        document.getElementById('initLongitude').value = routeMarkers[0].getLatLng().lng;
                        document.getElementById('endLatitude').value = routeMarkers[1].getLatLng().lat;
                        document.getElementById('endLongitude').value = routeMarkers[1].getLatLng().lng;
                        document.myform.submit();
                    }


                    function selectRoute(n){
                        var nodesHTML = document.getElementById("route_nodes_"+n).innerText.replace(/'/g, '"').replace(/None/g, null);
                        var nodesParsed = JSON.parse(nodesHTML);

                        if(polyline != null){
                            map.removeLayer(polyline);
                        }

                        /*for(let i=0;i<document.getElementById("instruction_container").children.length-1;i++){
                            document.getElementById("instructions_" + i).hidden = true;
                        }*/

                        document.getElementById("instructions_" + lastRouteShown).hidden = true;
                        lastRouteShown = n;

                        document.getElementById("instructions_" + n).hidden = false;

                        var latlngs = [];

                        for(let i=0;i<nodesParsed.length;i++){
                            latlngs.push([nodesParsed[i].longitude, nodesParsed[i].latitude]);
                        }
                        polyline = L.polyline(latlngs, {color:'#3388ff', weight:5}).addTo(map);

                        map.fitBounds(polyline.getBounds());
                    }

                    
                    $(document).ready(function() {
                        if(document.getElementById("route_nodes_0") != null){
                            selectRoute(0);
                        }
                    });

                    /*L.Control.geocoder({
                        geocoder: L.Control.Geocoder.nominatim()
                    }).addTo(map);*/
                </script>
            </div>
            <div id="instructions_container" class = "col-sm-2">
                <div class="card bg-primary text-white col-sm-12 mt-3 mb-3">
                    <h1>Indicaciones</h1>
                </div>
                {% for route in routes %}
                    <div id="instructions_{{forloop.counter0}}" hidden>
                        {% for instruction in route.instructions %}
                            <div class="card bg-secondary text-white mt-3">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h5>{{forloop.counter}}.</h5>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <!--<div class="col-sm-3 text-center">
                                        <i class="glyphicon glyphicon-arrow-up"></i>
                                    </div>-->
                                    <div class="col-sm-8">
                                        <h5>{{instruction.text}}</h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5>{{instruction.distance}} m</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</form>
{% endblock %}